body{
    background-color: white;
}



.header{
  background-color:rgb(255, 255, 255);
  margin-left: 150px;
  padding: 120px;
  text-align: center;
  color:#000080;
  position: relative;
}

.logo-text{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    position: absolute;
    top:10px;
    left:60px;
}

